@model IEnumerable<MVC2Messenger.Models.ChatUserModel>

@{
    ViewBag.Title = "Chat users";
}

<h2>Chat user</h2>
@*
    <p>
        @Html.ActionLink("Add user", "Create", "ChatUser", new { id = 1 }, null)
    </p>
*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        @*
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
        </td>
        *@
    </tr>
    }

</table>
